.hero {
  width: 100%;
  text-align: center;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.section {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 12px;
  background-color: #fbfbfd;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  color: #1d1d1f;
  position: absolute;
  top: 20%;
  z-index: 2;
}

.subtitle {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: .004em;
  font-family: "SF Pro Display";
  margin: 6px 0 0;
  color: #1d1d1f;
  position: absolute;
  top: 35%;
  z-index: 2;
}

.cta {
  margin-top: 0.8em;
  display: flex;
  justify-content: center;
  gap: 35px;
  position: absolute;
  bottom: 40px;
  z-index: 2;
}

.link {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: .011em;
  font-family: "SF Pro Display";
  color: #ffffff;
  text-decoration: none;
  background-color: #2997ff;
  padding: 12px 24px;
  border-radius: 980px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #147ce5;
  transform: scale(1.02);
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1440px;
  margin: 0 auto;
}

.gridItem {
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 50vh;
}

.gridTitle {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "SF Pro Display";
  margin: 0 0 20px 0;
  position: relative;
  z-index: 2;
  color: #1d1d1f;
}

.gridSubtitle {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: .016em;
  margin: 4px 0 0;
  position: relative;
  z-index: 2;   
  font-family: "SF Pro Display";
  color: #1d1d1f;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.imageGrid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}