.nav-global {
  display: flex;
  width: auto;
  height: 44px;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #fafafc;
  margin: 0px -8px;
}
.nav-global li{
    list-style-type: none;

}
.nav-global ul {
  display: inline-block;
  margin: 0;
  gap: 19.14px;
}
