.nav-mac {
  display: flex;
  width: 100%;
  height: 97px;
  padding: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.nav-mac ul {
  display: inline-block;
  align-items: center;
  gap: 40px;
}

.nav-mac li {
  list-style: none;
}

.nav-mac a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-mac p {
  color: rgba(0, 0, 0, 0.8);
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
  margin-top: 8px;
  margin-bottom: 0;
}